body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  padding-top: 50px;
}

p {
  color: #666;
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;
  text-align: justify;
}